@charset "utf-8";


html{overflow-x: hidden;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing:border-box}
body { background:#fff; color:#555; font-size:62.5%; font-family: "Microsoft Yahei"; }
td,th,caption { font-size:14px; /*border:1px solid #555;*/}
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%;}
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
/* css common */
.clearfix:after, .clearfix:before {content: ""; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1;}
.pull-left{float:left;}
.pull-right{float:right;}
